@model ModelLibrary.Result.FavoredResultList

@{
    this.ViewData[index: "Title"] = "Favored Result List";
}

<div class="text-center">
    <h1 class="display-4">@(this.ViewData[index: "Title"])</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th />
            <th>Die</th>
            <th />
        </tr>
        <tr>
            <th>Favored Face</th>
            <th>Favor Factor</th>
            <th>Face</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ModelLibrary.Result.FavoredResult favoredResult in this.Model)
        {
            <tr>
                <td>
                    @(this.Html.DisplayFor(expression:
                        (ModelLibrary.Result.FavoredResultList favoredResultList) =>
                        null == favoredResult.FavoredDie ? 0 :
                            favoredResult.FavoredDie.FavoredFace))
                </td>
                <td>
                    @(this.Html.DisplayFor(expression:
                        (ModelLibrary.Result.FavoredResultList favoredResultList) =>
                        null == favoredResult.FavoredDie ? 0 :
                            favoredResult.FavoredDie.FavorFactor))
                </td>
                <td>
                    @(this.Html.DisplayFor(expression:
                        (ModelLibrary.Result.FavoredResultList favoredResultList) =>
                        favoredResult.Face))
                </td>
            </tr>
        }
    </tbody>
</table>