@model ModelLibrary.Result.ResultList

@{
    this.ViewData[index: "Title"] = "Result List";
}

<div class="text-center">
    <h1 class="display-4">@(this.ViewData[index: "Title"])</h1>
</div>

<table class="table">
    <thead>
        <tr><th>Face</th></tr>
    </thead>
    <tbody>
        @foreach (ModelLibrary.Result.Result result in this.Model)
        {
            <tr>
                <td>
                    @(this.Html.DisplayFor(expression:
                        (ModelLibrary.Result.ResultList resultList) => result.Face))
                </td>
            </tr>
        }
    </tbody>
</table>